body{
    background-color: ivory;
    font-family: Arial;
    margin: 0;
    
}


/* .section2{
    background-color:black;
    display: flex;

}
.firstsection{
    width: 25%;
    height: 700px;
    border-right-style:solid ;
    border-right-color:ivory;
    border-right-width: 1px;

} */